.hpWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  display: flex;
  background-color: lightblue;
  height: 100%;
  width: 100%;
  justify-content: center;
}
h1 {
  color: white;
  font-weight: bold;
}
.hpInputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(243, 212, 212);
}